<%- include('../partials/header')%>
    <%- include('../partials/navbar')%>

        <div class="container">

            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <h2 class="my-4">
                        All Questions
                    </h2>
                    <a href="/question" class="text-success fs-3 mx-2" data-bs-toggle="tooltip" data-bs-placement="right" title="add question">
                        <i class='bx bx-plus-circle'></i>
                    </a>
                </div>
            </div>



            <div class="row">
                <% questions.forEach(question => { %>
                    <div class="col-12 col-md-6 my-2">
                        <div class="card">
                            <div class="card-body">
                                <%= question.question %> 
                                <a href="/questions/show/<%= question.id %> " class="btn btn-primary btn-sm float-end">
                                    <i class='bx bx-send'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>

        <%- include('../partials/footer')%>